<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' {{ printf "content=%q" $description | safeHTMLAttr }}>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

{{ with .Params.canonicalUrl }}
<link rel="canonical" href="{{ . }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}
{{ if .IsHome }}
<link rel="me" href="https://github.com/gquetel/">
<link rel="me" href="https://mastodon.social/@gquetel">
<link rel="me" href="https://linkedin.com/in/grégor-quétel-08355b172">
{{ end }}

{{- partial "head/custom-font.html" . -}}
{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}
{{- partial "head/schema/person.html" . -}}
{{- partial "head/schema/article.html" . -}}
{{- partial "head/schema/website.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{- $favicon := partial "helper/image" (dict "Image" .Site.Params.favicon "Resources" resources "Context" .) -}}
{{ with $favicon }}
    <link rel="shortcut icon" href="{{ .Permalink }}" />
{{ end }}

{{- if .Site.Params.cookies.enabled -}}
    {{- partial "cookies/analytics.html" . -}}
{{- else -}}
    {{- template "_internal/google_analytics.html" . -}}
{{- end -}}

{{- partial "head/custom.html" . -}}
